:root{
    --primary-color:#fd0;
    --primary-color_dark:#fd08;
    --background-dark:#161616;
    --color-light:#fff;
    --color-history-fontColor:#8b7171b5;
    --background-calcButtons:#5554;
    --background-calcButtons-hover:var(--background-calcButtons-hover);
    --border-calcButtons-hover:#54545465;
}
body{
    background: var(--background-dark);
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.noneClass{
    display: none;
}



#calc{
    position: relative;
    margin: auto;
    margin-top: 120px;
    position: relative;
    background: var(--primary-color);
    width: 97%;
    max-width: 600px;
}




.calc_settings{
    padding: 10px;
    display: flex;
    justify-content: space-between;   
}
.calc_settings h2{
    margin: 0;
    color: #a12;    
}
.calc_settings .calc_settings-interactive{
    display: flex;    
    width: 41%;
    justify-content: flex-end;
    z-index: 999;    
}
.calc_settings .user-mode i{
    font-size: 1.8rem;
    cursor: pointer;
}
.calc_settings-interactive > i{
    font-size: 1.8rem;
    cursor: pointer;
    color: #a12;    
}



.calc{    
    display: grid;
    gap: 3px;
    grid-template-rows: 20px 100px 1fr;
}
.calc.modeActive{
    display: grid;
    grid-template-rows: 200px 1fr;
}
.calc.modeActive .calc_buttons .act-button,
.calc.modeActive .calc_buttons .post-button{
    display: none;
}
.calc.modeActive .calc_buttons .clear-button{
    display: block;
}
.calc.modeActive .calc_buttons{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,300px));
    text-align: center;
    gap: 2px;    
}




.history{
    padding: 0 10px;
}
.history h4{    
    font-weight: 100;
    color:var(--color-history-fontColor);
    margin: 0;    
}



.calc .display{
    border: none;
    height: 100%;
    outline: none;
    font-size: 1.8rem; 
    width: 90%;    
    background: var(--primary-color);
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.calc .display h2{
    margin: 0;
}



.calc_buttons{
    display: grid;
    grid-template-columns: repeat(4 , minmax(80px, 300px));  
    gap: 2px;  
    text-align: center;
    background:var(--background-calcButtons) ;
}
.calc_buttons span{
    padding: 15px 10px;
    background: var(--primary-color);
    font-size: 1.3rem;
    border: 1px solid transparent;
}
.calc_buttons span:hover{
    background:var(--background-calcButtons-hover);
    color: var(--color-light);
    border: 1px solid var(--border-calcButtons-hover);
}
.calc_buttons .act-button{
    background: var(--primary-color_dark);
}









/*ESTILOS PARA EL MENU DE LA CALCULADORA*/
#calc-menu{           
    position: absolute; 
    top: 0;
    right: 0;
    background:var(--primary-color) ;
    height: 100%;
    width: 45%;
    border-left: 2px solid var(--background-dark);
    background:#f7d300;
}
.calc-menu{    
    text-align: center;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}
.calc-menu span{
    padding: 8px 4px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 87%;
    margin: auto;    
    cursor: pointer;
}
.calc-menu span:hover{
    background: var(--primary-color_dark);
    border-bottom: 1px solid #0002;
    border-top: 1px solid #0002;
    color: var(--color-light);
}









/****INTERFACES***/
.calc-mod_selects{
    padding: 0 10px;
}
.calc-mod_selects .select_cont h2{
    margin: 15px 0 10px 0;
    font-size: 1.8rem;
}
.calc-mod_selects .select_cont-2{
    margin-top: 32px;
    margin-bottom: 50px;
}
.calc-mod_selects .select_cont-2 h2{
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 100;
    color: #000c;
}
.calc-mod_selects .select_cont select{
    border: none;
    background: var(--primary-color);
    cursor: pointer;
    outline: none;
}














